.card {
  color: #fff;
  font-family: Alibaba-Regular, sans-serif;
  span.link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }
  :global(.ant-card-head) {
    border-bottom: none;
    padding: 0 18px;
    min-height: 46px;
  }
  :global(.ant-card-body) {
    padding: 0px 16px;
  }
  &:global(.ant-card) {
    background-color: transparent;
  }
  &:global(.ant-card-bordered) {
    border: none;
  }
  :global(.ant-card-head-title) {
    color: #fff;
  }
  :global(.ant-select-selector) {
    color: #333333;
  }
  .indicators {
    color: #fff;
    .indicator {
      margin: 10px 0;
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;
      gap: 50px;
      .icon {
        width: 20px;
        height: 16.2px;
      }
    }
  }
  .chart {
    height: 150px;
  }
  .onlines {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    margin: 20px 0;
    .icon {
      font-size: 28px;
    }
    .online {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .label {
        font-size: 14px;
      }
      .value {
        font-size: 20px;
      }
    }
  }
}
